#validationQueue {
	border-radius:10px;
	border:solid 3px gray;
}

#professorName {
	float:left;
}

#validated {
	float:right;
}

#validationDate {
	margin-right:200px;
	float:left;
}

#userReport {
	padding:10px;
	border:solid 1px gray;
}

#noProfessors {
	font-size:150%;
	padding:50px;
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F1EFFF, #D9D7E5);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1EFFF', endColorstr='#D9D7E5');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F1EFFF,  #D9D7E5);
}

#idodGrowth {
	width:100%;
	height:500px;
}

#adodGrowth {
	width:100%;
	height:500px;
}

#userCount {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F1EFFF, #D9D7E5);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1EFFF', endColorstr='#D9D7E5');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F1EFFF,  #D9D7E5);
	border:solid 3px gray;
	border-radius:10px;
}

.count {
	float:left;
	width:298px;
}

.countLabel {
	padding:20px;
	text-align:center;
	font-size:150%;
	border-bottom:solid 1px gray;
}

.countContent {
	padding:20px;
	text-align:center;
	font-size:400%;
}

#total {
	
}

#student {
	
}

#professor {
	width:;
}