#docUpload {
	padding:10px;
	background-color:lightgray;
	border-radius:5px;
	float:left;
	width:400px;
}

#docLimitBox {
	text-align:center;
	margin-top:1px;
	padding:10px;
	padding-top:40px;
	background-color:lightgray;
	border-radius:5px;
	float:right;
	width:370px;
	height:53px;	
}

#file {
	float:left;
	width:190px;
	font-size:90%;
}

#uploadButton {
	float:right;
}

#docName {
	float:left;
}

#docDownload {
	margin-right:40px;
	float:right;
}

#docDelete {
	float:right;
}

#duplicateError {
	margin-top:10px;
	padding:10px;
	background-color:lightgray;
	border-radius:5px;
	text-align:center;
}
