/* Login and Signup CSS */

#loginForm {
	margin-left:auto;
	margin-right:auto;
	padding:30px;
	width:350px;
	border:solid 1px gray;
}

#loginFormEmailLabel {
	float:left;
	margin-top:8px;
}

#loginFormPasswordLabel {
	float:left;
	margin-top:8px;
}

#loginFormEmailInput {
	float:right;
}

#loginFormPasswordInput {
	float:right;
}

#loginButton {
	float:right;
}

#noValuesError {
	padding-top:10px;
	padding-bottom:10px;
	width:213px;
	margin-top:20px;
}

#noMatchError {
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	width:213px;
	margin-top:20px;
}

#loginFormUsernameLabel {
	margin-left:13px;
	margin-top:6px;
}

#loginFormAdminPasswordLabel {
	margin-left:65px;
	margin-top:6px;
}

/* sign up page CSS */

#signupForm {
	padding:30px;
	border:solid 1px gray;
	width:270px;
	margin-left:auto;
	margin-right:auto;
}

#signupCopyWrapper {
	margin-top:20px;
	height:300px;
	width:580px;
	padding:30px;
	float:right;
	border-radius:5px;
	border:solid 1px gray;
}

#logos {
	
}

.logo {
	float:left;
}

#bu {
	margin-left:10px;
}

#babson {
	margin-top:-10px;
	margin-left:30px;
	margin-right:20px;
}

#suffolk {
	margin-top:15px;
}

#signupCopy {
	text-align:center;
}

#noSchool {
	background: -webkit-linear-gradient(top, #FFEC8B, #FCDC3B); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEC8B', endColorstr='#FCDC3B');
	background: -moz-linear-gradient(top,  #FFEC8B,  #FCDC3B);
	border:solid 1px red;
	border-radius:5px;
	text-align:center	;
	font-size:95%;
	padding:30px;
}