/* Login and Signup CSS */

#loginForm {
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
	padding-bottom:30px;
	width:400px;
	border:solid 1px gray;
}

#loginFormEmailLabel {
	margin-left:70px;
	margin-top:8px;
}

#loginFormPasswordLabel {
	margin-left:42px;
	margin-top:8px;
}

#loginFormEmailInput {
	margin-right:40px;
}

#loginFormPasswordInput {
	margin-right:40px;
}

#loginButton {
	margin-left:158px;
}

#noValuesError {
	padding-top:10px;
	padding-bottom:10px;
	width:213px;
	margin-top:20px;
}

#noMatchError {
	padding-top:10px;
	padding-bottom:10px;
	width:213px;
	margin-top:20px;
}

