main CSS file

html {
}

body {
	margin: 0px;
	/* background-image: url('/images/background_texture.png'); */
	font-family: Tahoma, Geneva, sans-serif;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

input {
	float: right;
}

select {
	float: right;
}

label {
	float: left;
}

.spacer {
	clear: both;
	height: 40px;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#header-background {
 	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background-image: -webkit-linear-gradient(top, #0000CC, #0066FF); 

   	/* Firefox 3.6+ */
   	background-image: -moz-linear-gradient(top, #0000CC, #0066FF);
	height: 50px;
}

#header-copy {
	width: 900px;
	margin-right: auto;
	margin-left: auto;	
}

#user_indentifier {
	color: white;
	padding: 14px;
	text-align: right;
}

#nav {
	height: 150px;
}

#contents {
}

#footer {
	clear: both;
	height: 100px;
	border-top: solid 2px gray;
}

