/* main CSS file  */

html {
}

body {
	margin:0px;
	background-color:rgb(240,227,228);
	font-family: Tahoma, Geneva, sans-serif;
}

a img {
	border:none;
}

input {
	font-size:110%;
}

textarea {
	font-size:110%;
}

input.textfield {
	font-family:sans-serif;
}

.submit {
	border:solid 2px gray;
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F1EFFF, #D9D7E5);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1EFFF', endColorstr='#D9D7E5');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F1EFFF,  #D9D7E5);
}

.form {
	
}

.formLabels {
	float:left;
}

.formInputs {
	float:right;
}

.spacer {
	clear:both;
	height:40px;
}

.errorBox {
	display:none;
	font-size:80%;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border:solid 1px red;
	background-color:beige;
}

.listItem {
	padding:10px;
}

.listHeader {
	padding:10px;
}

.ifNoVariables {
	padding:50px;
	text-align:center;
}

#container {
	margin-left:auto;
	margin-right:auto;
	width:900px;
}

/* The footer CSS */

#footer {
	clear:both;
	height:100px;
	border-top: solid 2px gray;
}

#footerWrapper {
	width:260px;
	margin-left:auto;
	margin-right:auto;
}

#copyright {
	float:left;
}

#twitter {
	float:left;
	margin-left:16px;
}

