/* The Navigation CSS */

#headerContainer {
	width:900px;
	margin-right:auto;
	margin-left:auto;	
}

#navBar {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background-image: -webkit-linear-gradient(top, #0066FF, #0000CC);
	
	height:100px;
	overflow:auto;
}

.navButton {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background-image: -webkit-linear-gradient(top, #FFFFCC, #99FF33); 	
	
	color:black;
	margin-top:27px;
	background-color:gray;
	height:30px;
	width:100px;
	float:left;
	border-radius:6px;
	text-align:center;
	padding-top:7px;
	border:solid 2px gray;
}

#classes {
	width:100px;
}

#userIdentifier {
	color:white;
	float:right;
	margin-top:40px;
	margin-right:20px;
	
}

#login {

}

#logout {
	float:right;
}

#signup {
	margin-left:20px;
}