/* The Navigation CSS */

#headerContainer {
	width:900px;
	margin-right:auto;
	margin-left:auto;	
}

#navBar {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	/* background: -webkit-linear-gradient(top, #0066FF, #0000CC);
	/* IE */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066FF', endColorstr='#0000CC');
	/* Firefox */
	/* background: -moz-linear-gradient(top,  #0066FF,  #0000CC); */
	background-color:rgb(14,46,66);
	height:100px;
	width:100%;
	
}

.navButton {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #DDF1FF, #86CCD6); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDF1FF', endColorstr='#86CCD6');
	background: -moz-linear-gradient(top,  #DDF1FF,  #86CCD6);
	
	color:black;
	margin-top:27px;
	background-color:gray;
	height:30px;
	width:100px;
	float:left;
	border-radius:6px;
	text-align:center;
	padding-top:7px;
	border:solid 2px gray;
	margin-right:20px;
}

#classes {
	width:100px;
}

#login {
	
}

#signup {
	
}

#userInfo {
	float:right;
	margin-top:40px;
}

#userIdentifier {
	color:white;
	float:right;
	margin-right:20px;
}

#help {
	color:white;
	float:right;
	margin-left:20px;
}

#logout {
	float:right;
	color:white;
}

#virska {
	font-family:Century Schoolbook;
	color:white;
	margin-top:10px;
	margin-right:20px;
	letter-spacing:-4px;
	font-size:400%;
	float:right;
}

#logo {
	float:right;
	margin-top:17px;
	margin-right:15px;
}

#notes {

}

#documents {

}

#settings {
}