/* professor-related CSS file */

#header-nav {
	color:white;
	padding:14px;
	float:left;
}

#wrapper {
	width:650px;
	margin-left:auto;
	margin-right:auto;
}

#add-class {
	width:280px;
	float:left;
	padding:20px;
}

#add-section {
	width:280px;
	float:right;
	border-left:1px solid gray;
	padding:20px;
}

#datepicker {
	
}

#new-assignment {
	margin-right:auto;
	margin-left:auto;
	width:420px;
}

#section-wrapper {
	width:400px;
	padding-left:20px;
}
