/* CSS page for the professor controller */

/* ----- Sections View CSS ------ */

#mySectionsHeader {
	float:left;
	padding:10px;
}

#editClasses {
	float:right;
	padding:10px;
}

#sectionsViewWrapper {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F7F7F7, #CCCCCC);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#CCCCCC');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F7F7F7,  #CCCCCC);
	border:solid 1px gray;
}

.sectionListWrapper {
	padding:10px;
}

.sectionList {
	font-size:90%;
	margin-top:2px;
}

#sectionName {
	float:left;	
}

#sectionTime {
	float:left;
}

#sectionDay {
	float:left;
}

#sectionRoom {
	float:left;
}

#sectionBuilding {
	float:left;
}

#editSection {
	float:right;
}

/* ----- Add a class and section CSS (professor/classes) ---- */

#addClassWrapper {
	width:650px;
	margin-left:auto;
	margin-right:auto;
}

#addClass {
	width:280px;
	float:left;
	padding:20px;
}

#addSection {
	width:280px;
	float:right;
	border-left:1px solid gray;
	padding:20px;
}


/* ----- Add an assignment CSS (/professor/section/X) ---*/

#newEventWrapper {
}

#descriptionInput {
	float:left;
}

#newEventLabel {
}

#newEvent {
}

#eventDate {
	float:left;
	margin-top:4px;
}

#newEventDateLabel {
}

#newEventDate {
}

#datepicker {
}

#submissions {
	float:left;
	margin-left:40px;
	margin-top:5px;
}

#submissionsLabel {
	float:left;
	margin-left:7px;
}

#submissionsInput {
	float:left;
	margin-top:7px;
}

#submissionsDesc {
	margin-top:7px;
	float:right;
	font-size:80%;
}

#attachmentBox {
	float:right;
	width:300px;
	margin-top:20px;
}

#addAttachment {
	margin-left:auto;
	margin-right:auto;
	width:140px;
	padding:10px;
	border:solid 1px black;
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F7F7F7, #CCCCCC);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#CCCCCC');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F7F7F7,  #CCCCCC);
	cursor:pointer;
}

#attachment {	
	display:none;
	margin-top:20px;
	font-size:80%;
}

#attachmentCheck {
	float:right;
	margin-top:-2px;
}

#assignmentButton {
	margin-top:10px;
	float:left;
}

/* --------- Event list CSS --------- */

#dueDateLabel {
	float:left;
}

#descriptionLabel {
	float:left;
	margin-left:132px;
}

#attachmentLabel {
	float:left;
	margin-left:400px;
}

#submissionsEnabled {
	float:left;
	margin-left:20px;
}

#dueDate {
	float:left;	
}

#description {
	float:left;	
	margin-left:80px;
}

#attachmentIcon {
	margin-right:47px;
	float:right;
}

#submissionsEnabledContainer {
	width:100px;
	min-height:1px;
	float:right;
	margin-right:13px;
}

#submissionsEnabledIcon {
	width:20px;
	margin-left:auto;
	margin-right:auto;
}

#deleteEvent {
	float:right;
}

/* ----- Submissions View CSS -----*/

#submissionWrapperHeader {
	border-top:solid 2px gray;
	border-left:solid 2px gray;
	border-right:solid 2px gray;
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F7F7F7, #CCCCCC);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#CCCCCC');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F7F7F7,  #CCCCCC);
}

#submissionWrapper {
	border-left:solid 2px gray;
	border-right:solid 2px gray;
}

.submissionItem {
	padding:10px;
}

#studentNameW {
	float:left;
	width:300px;
}

#lastModifiedW {
	float:left;
	width:300px;
}

#downloadW {
	float:right;
	width:230px;
}

#download {
	width:20px;
	margin-left:auto;
	margin-right:auto;
}

#feedbackLabel {
	float:left;
}

#charCountLabel {
	font-size:80%;
	float:left;
	margin-left:30px;
	margin-top:4px;
}

#charCount {
	font-size:80%;
	float:left;
	margin-top:4px;
	margin-left:3px;
}
