/* CSS page for the professor controller */

#wrapper {
	width:650px;
	margin-left:auto;
	margin-right:auto;
}

#add-class {
	width:280px;
	float:left;
	padding:20px;
}

#add-section {
	width:280px;
	float:right;
	border-left:1px solid gray;
	padding:20px;
}

#datepicker {
}

#newAssignment {

}

#newAssignmentWrapper {

}

#dueDateLabel {
	float:left;
}

#descriptionLabel {
	float:left;
}

#attachmentLabel {
	float:left;	
}

#dueDate {
	float:left;	
}

#description {
	float:left;	
}

#attachment {
	float:left;	
}