/* CSS page for the student controller */

#sectionsViewWrapper {
}

.sectionList {
	font-size:90%;
}

#sectionName {
	float:left;	
}

#sectionTime {
	float:left;
}

#sectionDay {
	float:left;
}

#sectionRoom {
	float:left;
}

#sectionBuilding {
	float:left;
}

#searchHeader {
	margin-left:auto;
	margin-right:auto;
	width:300px;
	text-align:center;
	margin-bottom:20px;
	font-size:90%;
}

.searchBox {
	margin-left:auto;
	margin-right:auto;
	border:solid gray 1px;
	width:300px;
}

.searchResult {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	width:600px;
	min-height:80px;
   	background-image: -webkit-linear-gradient(top, #eeeef6, #d3d4d6);
	border:solid 2px gray;
	border-radius:5px;
}

#picture {
	height:60px;
	width:60px;
	border:solid 1px gray;
	background-color:white;
	margin-left:10px;
	margin-top:10px;
	float:left;
}

#nameBlock {
	margin-left:30px;
	margin-top:25px;
	font-size:150%;
	float:left;
}

#sectionList {
	margin-left:270px;
}

#searchResultError {
	padding-top:10px;
	padding-bottom:10px;
	width:200px;
	display:block;
}



#professorSearchBox {
	
}

#professorSearch {
	
}

#searchButton {
	float:right;
	margin-top:5px;
	margin-right:20px;
}