/* CSS page for the student controller */

/* ----- Sections View CSS ------ */

#sectionsViewWrapper {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F1EFFF, #D9D7E5);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1EFFF', endColorstr='#D9D7E5');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F1EFFF,  #D9D7E5);
	border:solid 1px gray;
}

#sectionsFollowingHeader {
	float:left;
	padding:10px;
}

#searchLink {
	float:right;
	padding:10px;
}

#searchPic {
	float:right;
}

.sectionListWrapper {
	padding:10px;
}

.sectionList {
	font-size:90%;
	margin-top:2px;
}

#sectionName {
	float:left;	
}

#sectionTime {
	float:left;
}

#sectionDay {
	float:left;
}

#sectionRoom {
	float:left;
}

#sectionBuilding {
	float:left;
}

#unfollowButton {
	float:right;
	margin-top:1px;
}

#gradesButton {
	float:right;
	margin-right:10px;
	margin-top:1px;
}

/* ------ Assignment Viewer Header CSS ------- */

#assignmentViewer {
	border:solid 1px gray;
}

#assignmentViewerHeader {
	padding:10px;
}

#dateHeader {
}

.happening {
	width:268px;
	float:left;
	text-align:center;
	padding:15px;
	border-bottom:solid 1px gray;
	cursor:pointer;
}

.passive {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F1EFFF, #D9D7E5);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1EFFF', endColorstr='#D9D7E5');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F1EFFF,  #D9D7E5);
}

.active {
	/* cross browser gradients */
	background: -webkit-linear-gradient(top, #DDF1FF, #86CCD6); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDF1FF', endColorstr='#86CCD6');
	background: -moz-linear-gradient(top,  #DDF1FF,  #86CCD6);
}

#dueTodayLabel {
}

#dueWeekLabel {
	border-left:solid 1px gray;
}

#searchDayLabel {
	border-left:solid 1px gray;
	width:269px;
}

/* ------ Assignment Viewer Canvas CSS ------- */

#canvas {
}

#dueToday {
	
}

.sDateLabel {
	display:none;
	float:left;
	width:102px;
	margin-left:20px;
}

.sClassLabel {
	float:left;
	margin-left:20px;
	width:80px;
}

.sDescLabel {
	float:left;
	width:100px;
}

.sAttachmentLabel {
	float:right;
	margin-right:60px;
}

.sSubmissionLabel {
	float:right;
}

.sDate {
	float:left;
	width:122px;
}

.sClassName {
	float:left;
	width:100px;
}

.sDesc {
	float:left;
}

.sAttachment {
	float:right;
	margin-right:85px;
}

.sSubmission {
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border:solid 3px gray;
	border-radius:3px;
	width:430px;
	
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #FFEC8B, #FCDC3B);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEC8B', endColorstr='#FCDC3B');
	/* Firefox */
	background: -moz-linear-gradient(top,  #FFEC8B,  #FCDC3B);
}

.submissionLabel {
	float:left;
}

.submissionInput {
	float:left;
}

.sSubmitButton {
	float:right;
	position:bottom;
}

/* ------ Today's View Specific CSS -------- */

/* ------ This Week's View Specific CSS -------- */

#dueWeek {
	display:none;
}

/* ------ Search for Day View Specific CSS -------- */

#searchDay {
	display:none;
}

#searchDayActive {
	
}

#searchDateW {
	padding:44px;	
}

#searchDate {
	width:210px;
	margin-right:auto;
	margin-left:auto;
}

#searchDateInput {
	float:left;
}

#searchDateSubmit {
	float:right;
	margin-top:3px;
}

#noSearchResults {
	border-top:solid 1px gray;
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #FFEC8B, #FCDC3B);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEC8B', endColorstr='#FCDC3B');
	/* Firefox */
	background: -moz-linear-gradient(top,  #FFEC8B,  #FCDC3B);
}

/* -------- Messages CSS -------*/

#messagesWrapper {
	border:solid 1px gray;
}

.messageContainer {
	padding:20px;
	border-bottom:solid 1px gray;
}

#messageViewerHeader {
	float:left;
}

#readReadMessages {
	float:right;
}

.readMessageContainer {
	padding:20px;
}

.messageHeader {
	
}

.from {
	float:left;
}

.markRead {
	float:right;
}

.deleteMessage {
	float:right;
}

/* -------- Search pages CSS ---------- */

#searchHeader {
	margin-left:auto;
	margin-right:auto;
	width:300px;
	text-align:center;
	margin-bottom:20px;
	font-size:90%;
}

.searchBox {
	margin-left:auto;
	margin-right:auto;
	border:solid gray 1px;
	width:300px;
}

.searchResult {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	width:600px;
	min-height:80px;
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background: -webkit-linear-gradient(top, #F1EFFF, #D9D7E5);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1EFFF', endColorstr='#D9D7E5');
	/* Firefox */
	background: -moz-linear-gradient(top,  #F1EFFF,  #D9D7E5);
	border:solid 2px gray;
	border-radius:5px;
	overflow:auto;
}

#picture {
	height:60px;
	width:60px;
	border:solid 1px gray;
	background-color:white;
	margin-left:10px;
	margin-top:10px;
	float:left;
}

#nameBlock {
	margin-left:30px;
	margin-top:25px;
	font-size:150%;
	float:left;
}

#sectionList {
	margin-right:20px;
	width:200px;
	text-align:right;
	float:right;
}

#searchResultError {
	padding-top:10px;
	padding-bottom:10px;
	width:200px;
	display:block;
}

#professorSearchBox {
	
}

#professorSearch {
	
}

#searchButton {
	float:right;
	margin-top:5px;
	margin-right:20px;
}

/* ------ Grades Page CSS ------ */

#gradesWrapper {
	
}

#noGrades {
	text-align:center;
}

.submissionList {
	padding:10px;
}

#lastModified {
	float:left;
}

#comments {
	float:right;
}

#commentsLabel {
	
}

#commentsContent {
	padding:10px;
	width:300px;
	border:solid 2px gray;
	background-color:white;
}

/* -------- Settings Page CSS ------ */

#emailOld {
	float:left;
	margin-left:2px;
	margin-top:5px;
}

#emailNew {
	float:right;
}

#phoneOld {
	float:left;
}

#number {
	float:left;
	margin-right:20px;
}

#currentCarrier {
	float:left;
}

#phoneNew {
	float:right;
}

#newNumber {
	float:right;
}

#newCarrier {
	float:right;
}

#prefsSubmit {
	float:right;
}

#contactSubmit {
	float:right;
	margin-top:3px;
}

#contact {
	
}

#contactLabel {
	float:left;
}

#contactRadio {
	float:right;
}

#contactFunctions {
	height:40px;
	margin-top:10px;
}

#contactUpdated {
	color:green;
	float:left;
	margin-top:10px;
}