#emailValidator {
	height:300px;
	width:300px;
	padding-top:40px;
	border:solid 1px gray;
	margin-left:auto;
	margin-right:auto;
}

#valLabel {
	margin-left:98px;
}

#val_code {
	margin-left:53px;
}

#passwordLabel {
	margin-left:102px;
}

#password {
	margin-left:53px;	
}

#passwordValLabel {
	margin-left:98px;	
}

#passwordVal {
	margin-left:53px;	
}

#validate {
	margin-left:118px;
}

#validateError {
	margin-top:-150px;
	margin-right:-140px;
	width:180px;
	display: none;
}