#emailValidator {
	height:300px;
	width:300px;
	padding-top:40px;
	border:solid 1px gray;
	margin-left:auto;
	margin-right:auto;
}

#emailValLabel {
	margin-left:104px;	
}

#emailVal {
	margin-left:53px;	
}

#valLabel {
	margin-left:54px;
}

#val_code {
	margin-left:53px;
}

#passwordLabel {
	margin-left:89px;
}

#password {
	margin-left:53px;	
}

#passwordValLabel {
	margin-left:98px;	
}

#passwordVal {
	margin-left:53px;	
}

#validate {
	margin-left:118px;
}

#valuesError {
	margin-top:-150px;
	margin-right:-140px;
	width:180px;
	display:none;
}

#valError {
	margin-top:-350px;
	margin-right:-140px;
	width:180px;
}

#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:500px;
	border:solid 2px gray;
}

#thank-youHeader {
	text-align:center;
}

#thank-youText {
	text-align:center	;
	padding:50px;
}